/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#main {
    font-size: 55px;
    text-align: left;
    font-weight: bold;
    padding-top: 55px;
    padding-left: 30px;
}

#secondary {
    font-size: 20px;
    text-align: left;
    font-weight: 400;
    padding-top: 5px;
    padding-left: 30px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.wrapper>* {
    /* padding: 10px; */
    flex: 1 100%;
}

.header {
    background: #333;
    flex-direction: column;
    height: 200px;
    color: white;
    align-content: space-evenly;
}

.footer {
    background: lightgreen;
}

svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
}
.article-container {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
}
.article-text-container {
    display: flex;
    flex-flow: row;
    width: 100%;
    border-bottom: #CCC solid 1px;
    min-height: 48px;
    align-items: center;
    font-size: 13px;
}
.article-text-container:hover {
    background-color: #fafafa;
}

.article-link {
    cursor: pointer;
    flex: 1 1 auto;
    text-decoration: none;
    font-weight: bold;
    padding-left: 13px;
    /* min-width: 400px; */
}
.article-date {
    flex: 0 0 80px;
}
.article-button {
    flex: 0 0 40px;
}
.article-author {
    color: #999;
    font-weight: normal;
}
a, a:hover {
    color: #333;
}

a:visited {
    color: #999;
}

a:hover {
    color: #333;
}

/* TODO: media queries */
/* @media all and (min-width: 900px) {
}
@media all and (min-width: 600px) {
    .mat-list-item-content {
        flex-direction: column;
    }
} */
